<h1><%="See your #{@list.name} list here!"%></h1>

<div class="cards">
  <% @list.movies.each do |movie| %>
    <div class="cards">
      <%= "#{movie.title} - " %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <%= link_to "[X]", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  <% end %>
</div>

<h2>Add a movie to a list</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
